body {
    padding-top: 50px;
    font-family: monospace;
    background-color: #33CCCC;
    color: #fff;
}
#main {
    padding: 40px 15px;
}
#main h1 {
    font-size: 4.5em;
    text-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 0px;
}
.row {
    margin-bottom: 15px;
}
#call {
    padding: 20px 24px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}
